<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Meu css -->
    <link rel="stylesheet" href="../css/style.css">

     <!-- Adicionando a fonte Montserrat do Google Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <style>

        main{
            margin-top: 1em;
        }

        .container{
            background-color: #A6A6A6;
        }

        .navbar-toggler-icon::before {
            content: '\2630'; 
            color: #fff; 
            font-size: 1.5rem; 
        }


        .navbar-toggler-icon::before {
            content: '☰'; 
        }
        



    </style>
    <title>Argentina | Volta ao mundo</title>
</head>
<body>
    
    <header>

        <nav class="navbar nav-texto-index navbar-expand-lg navbar-light bg-personalizado-sobre">
            <div class="d-flex navbar-brand">
                <img class="icone-nav-branco" src="../img/aviao.png" width="65" height="65" alt="" srcset="">
                <div class="barra-pequena-branca"><span class="texto-logo">Argentina</span></div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link texto-nav" href="../views/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link texto-nav" href="../views/sobre.html">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link texto-nav" href="https://stolf7.github.io/meu-site-v2.0/views/index.html" target="_blank">Fale Comigo</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <main>
        <div class="container">
            <!-- Seção História -->
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <h1 class="texto-historia">História</h1>
                        <div class="imagem-historia-sobre d-flex justify-content-center">
                            <img src="../img/img-historia.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="mt-5">
                        <p>
                            A história da Argentina é uma narrativa rica e multifacetada, que se desenrola desde as civilizações indígenas pré-colombianas até os dias atuais. A colonização espanhola começou no século XVI, com Pedro de Mendoza, e a região se tornou parte do Vice-Reino do Rio da Prata em 1776, com Buenos Aires como a capital.
                        </p>
                        <p>
                            Após a independência, a Argentina enfrentou períodos de instabilidade política e conflitos internos, destacando líderes como Juan Manuel de Rosas. A segunda metade do século XIX viu a consolidação nacional, impulsionada pela imigração em massa e investimentos em infraestrutura.
                        </p>
                        <p>
                            No século XX, a Argentina experimentou altos e baixos, desde a Grande Depressão até um governo militar nas décadas de 1970 e 1980. O retorno à democracia ocorreu em 1983, marcando uma nova fase na história argentina. No entanto, desafios econômicos, políticos e sociais persistiram.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-3">
                                <p>
                                    O século XXI trouxe mudanças políticas e econômicas, com questões como a dívida externa, inflação e alternâncias no governo moldando o cenário atual. A Argentina continua a ser uma nação vibrante, cuja identidade única na América Latina é forjada pela interseção de eventos históricos, culturais e políticos.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-historia mt-3">
                                <img src="../img/argentina-historia.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Seção Pontos Turísticos -->
            <div class="row mt-5 mb-5">
                <div class="col-md-12">
                    <div class="">
                        <h3>
                            <p class="text-center mt-3 pontos-turisticos">
                                Pontos Turisticos
                            </p>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <img src="../img/cataratas.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <p class="titulo-sobre">Cataratas do Iguaçu</p>
                    <p>
                        As Cataratas do Iguaçu, na Argentina, são uma maravilha natural com quedas d'água espetaculares ao longo do rio Iguaçu. O Parque Nacional Iguazú oferece trilhas com vistas magníficas, destacando a imponente Garganta do Diabo. Passarelas levam os visitantes sobre as águas tumultuadas, proporcionando uma experiência única.
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <p class="titulo-sobre">Teatro Colón</p>
                    <p>
                        O Teatro Colón, em Buenos Aires, Argentina, é um ícone da arquitetura e cultura. Inaugurado em 1908, o teatro é famoso por sua beleza e acústica excepcionais. Artistas renomados se apresentaram em seu palco ao longo dos anos, contribuindo para sua reputação mundial.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="mt-3">
                        <img src="../img/teatro.jpeg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="mt-3">
                        <img src="../img/cemiterio.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <p class="titulo-sobre">Cemitério La Recoleta</p>
                    <p>
                        O Cemitério da Recoleta, em Buenos Aires, Argentina, é um local icônico e histórico. Fundado no século XIX, é famoso por seus mausoléus impressionantes que abrigam túmulos de figuras proeminentes da sociedade argentina. Entre os imponentes corredores de mausoléus, os visitantes podem encontrar os túmulos de Eva Perón, ex-primeira-dama argentina, e de outras personalidades notáveis. O ambiente sereno e a arquitetura requintada fazem deste cemitério um local de visita única, proporcionando uma experiência cultural e histórica significativa em meio à imponência de seus monumentos funerários.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <footer class="bg-black text-white text-uppercase text-center py-3">
            <div class="container">
                <p class="mb-0 text-center">Matheus Stolf</p>
            </div>
        </footer>
        
    </footer>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>